{% extends 'galeria/base.html' %}
{% load static  %}
{% block content %}
    <!-- Container principal -->
    <div class="pagina-inicial">
        <header class="cabecalho">
            <!-- Logo (está comentada e aguardando a logo que definirmos para nosso projeto) -->
            <!-- <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" /> -->
            <div class="cabecalho__conteudo">
                <div class="cabecalho__busca">
                    <div class="busca__fundo">
                        <input class="busca__input" type="text" placeholder="O que você procura?" aria-label="Busca">
                        <button class="busca__botao">
                            <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de busca">
                        </button>
                    </div>
                </div>
                <div style="display:flex;padding: 10px;">
                    <div class="cabecalho__auth">
                        <a href="/login" class="auth__botao">Book a demo</a>
                    </div>
                    <div class="cabecalho__auth">
                        <a href="/login" class="auth__botao">Sign In</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- container de corpo dos conteudos, estrutura os conteudos do site. Sejam os cards ou sections -->
        <main class="principal">
            <!-- Menu -->
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="#"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                    <a href="#infra"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}">Infraestrutura</a>
                    <a href="#novidades"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Novidades</a>
                    <a href="#comunidade"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Comunidade</a>
                </nav>
            </section>
            <!-- container de conteudo de imagem, segura o conteudo e estrutura a seção para conteudos -->
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/mainlogoimage.jpg' %}" alt="banner Logistics">
                    <h1 class="banner__titulo"> A Inteligência Artificial para solucionar sua logística!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Os melhores modelos disponíveis para seu negócio:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">ARIMA</li>
                        <li class="tags__tag">SARIMA</li>
                        <li class="tags__tag">Lasso</li>
                        <li class="tags__tag">Prophet</li>
                    </ul>
                </section>
                <!-- Galeria mostrando as imagens, cada imagem tem uma "div" com classe "cards" para estilização do css -->
                <div class="alert-wrapper">
                    
                        <h1>A solução completa para Supply Chain</h1>
                        <h2>Nossos modelos garantem uma performance elevada de gerenciamento de estoque e previsão de demanda</h2>
                    
                </div>
                <section class="galeria" id="infra">
                    <div class="cards">
                        <h2 class="cards__titulo">Infraestrutura</h2>
                        <ul class="cards__lista">
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/demandforecast.jpg' %}" alt="foto">
                                </a>
                                <span class="card__tag">Analytics</span>
                                <div class="card__info">
                                    <p class="card__titulo">Estado da Arte da Previsão de Demanda</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Modelos modernos e conceituados</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/security.jpg' %}" alt="foto">
                                </a>
                                <span class="card__tag">Segurança</span>
                                <div class="card__info">
                                    <p class="card__titulo">Aplicação segura</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Criptografia em todas etapas e segurança de dados</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/decision.jpg' %}" alt="foto">
                                </a>
                                <span class="card__tag">Gestão</span>
                                <div class="card__info">
                                    <p class="card__titulo">Automação do processo de decisão</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Análise prescritiva de dados</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/finance.jpg' %}" alt="foto">
                                </a>
                                <span class="card__tag">Finanças</span>
                                <div class="card__info">
                                    <p class="card__titulo">Controle financeiro de estoques</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Automação de processo de contabilidade dos estoques</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </section>

                <section class="galeria" id="novidades">
                    <div class="cards">
                        <h2 class="cards__titulo">Novidades</h2>
                        <ul class="cards__lista">
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/demandforecast.jpg' %}" alt="foto">
                                </a>
                                <span class="card__tag">Beta Release</span>
                                <div class="card__info">
                                    <p class="card__titulo">Versão 1.0 Beta lançada</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Teste agora!</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/security.jpg' %}" alt="foto">
                                </a>
                                <span class="card__tag">Criptografia</span>
                                <div class="card__info">
                                    <p class="card__titulo">Reforço no algoritmo de criptografia</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Uso de sistemas caóticos para desenvolver criptografia</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                </section>

                <section class="galeria" id="comunidade">
                    <div class="cards">
                        <h2 class="cards__titulo">Comunidade</h2>
                        <ul class="cards__lista">
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/demandforecast.jpg' %}" alt="foto">
                                </a>
                                <span class="card__tag">Indústria</span>
                                <div class="card__info">
                                    <p class="card__titulo">Mais segmentos da indústria usam SupplyProphet</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">300 gigantes empresas usam a SupplyProphet</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/security.jpg' %}" alt="foto">
                                </a>
                                <span class="card__tag">Bugs</span>
                                <div class="card__info">
                                    <p class="card__titulo">Bug Bounty: Ganhe dinheiro</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Ganhe prêmios por encontrar bugs em nosso sistema</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                </section>

            </section>
        </main>
    </div>
    <!-- seção de rodapé, estrutura o rodapé e define suas classes para implemento dos assets -->
    <footer class="rodape">
        <div class="rodape__icones">
            <a href="https://twitter.com/AluraOnline" target=”_blank” >
                <img src="{% static '/assets/ícones/1x/twitter.png' %}" alt="ícone twitter">
            </a>
            <a href="https://www.instagram.com/aluraonline/" target=”_blank” >
                <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
            </a>
        </div>
        <p class="rodape__texto">SupplyProphet 2024</p>
    </footer>
{% endblock content %} 